.svg-circle
	$parent: &
	svg
	
	&__outer
		fill: transparent
		stroke: $orange
		stroke-width: 10
		stroke-dasharray: 518
		transition: .5s
		-webkit-animation-play-state: running
		/* firefox bug fix - won't rotate at 90deg angles
		-moz-transform: rotate(-57deg) translate(-120px, 30px)
	&[data-percent='100'] #{$parent}__outer
		stroke-dashoffset: 0
		-webkit-animation: show100 2s
		animation: show100 2s
	&[data-percent='75'] #{$parent}__outer
		stroke-dashoffset: 133
		-webkit-animation: show75 2s
		animation: show75 2s
	&[data-percent='50'] #{$parent}__outer
		stroke-dashoffset: 267
		-webkit-animation: show50 2s
		animation: show50 2s
	&[data-percent='25'] #{$parent}__outer
		stroke-dashoffset: 460
		-webkit-animation: show25 2s
		animation: show25 2s
		
@-webkit-keyframes show100
	from
		stroke-dashoffset: 537
	
	to
		stroke-dashoffset: 0
@keyframes show100
	from
		stroke-dashoffset: 537
	
	to
		stroke-dashoffset: 0
@-webkit-keyframes show75
	from
		stroke-dashoffset: 537
	
	to
		stroke-dashoffset: 134
@keyframes show75
	from
		stroke-dashoffset: 537
	
	to
		stroke-dashoffset: 124
@-webkit-keyframes show50
	from
		stroke-dashoffset: 537
	
	to
		stroke-dashoffset: 267
@keyframes show50
	from
		stroke-dashoffset: 537
	
	to
		stroke-dashoffset: 267
@-webkit-keyframes show25
	from
		stroke-dashoffset: 537
	
	to
		stroke-dashoffset: 460
@keyframes show25
	from
		stroke-dashoffset: 537
	
	to
		stroke-dashoffset: 460
		
/* circles SVG's
	----------------------------------- */
.circles
	width: 100%
	max-width: 472px
	fill: none
	stroke: $orange
	stroke-width: 36px
	+lg
		max-width: 370px
	+md
		max-width: 280px
	+sm
		max-width: 370px
		margin: 20px auto
		display: block
	&_absolute
		position: absolute
		right: 13.4%
		bottom: 20%
		+big
			right: 3%
			bottom: 12%
		+md
			right: 5%
			bottom: 20%
		+sm
			right: calc(50% - 185px)
			bottom: 2%
		+xs
			position: static
	&_screen
		margin: 30px 0 75px
		+lg
			margin: 50px 0 40px
		+sm
			margin: 50px auto 40px
		+xs
			margin: 30px auto
	&_order
		margin-top: 20px
		margin-bottom: 80px
		+lg
			margin-bottom: 40px
	&_prices
		margin-top: 180px
		margin-bottom: 80px
		+big
			margin-top: 80px
			margin-bottom: 40px
		+sm
			margin: 60px auto 50px
		+xs
			margin: 35px auto
	&_contacts
		margin-bottom: 80px
		+big
			margin-bottom: 30px
	circle
		&.is-visible
			animation: rotateIn 1s ease
	circle[data-circle-type='tr']
		stroke-dasharray: 91
		stroke-dashoffset: 91
	circle[data-circle-type='tl-br']
		stroke-dasharray: 91
		stroke-dashoffset: 1
	circle[data-circle-type='bl']
		stroke-dasharray: 95
		stroke-dashoffset: 103
	circle[data-circle-type='br']
		stroke-dasharray: 91
		stroke-dashoffset: 1
	circle[data-circle-type='tr-bl']
		stroke-dasharray: 91
		stroke-dashoffset: 91
	circle[data-circle-type='l']
		stroke-dasharray: 280
		stroke-dashoffset: 0
	circle[data-circle-type='r']
		stroke-dasharray: 0
		stroke-dashoffset: 91
	circle[data-circle-type='tl']
		stroke-dasharray: 182
		stroke-dashoffset: 183

.circles-big
	width: 100%
	height: 100%
	fill: none
	stroke: $orange
	stroke-width: 146px
	circle[data-circle-type='tl']
		stroke-dasharray: 369
		stroke-dashoffset: -369
	&__body-1
		&.is-visible
			animation: rotateIn 1s ease
	&__body-2
		-webkit-backface-visibility: visible !important
		backface-visibility: visible !important
		&.is-visible
			animation: rotateInOut 1s ease
.circles-triple
	position: relative
	width: 100%
	height: 100%
	circle
		fill: none
		stroke: $orange
	svg
		position: absolute
		
	&__svg-1
		&.is-visible
			animation: fadeInDown 1s ease, movingTop 5s .9s ease-in-out infinite
	&__svg-2
		&.is-visible
			animation: bounceIn 1s .8s ease
		
	&__svg-3
		&.is-visible
			animation: fadeInUp 1s ease, movingBottom 5s .9s ease-in-out infinite
	&__body-1
		stroke-dashoffset: -190
		stroke-dasharray: 420
		stroke-width: 78px
	&__body-2
		stroke-dashoffset: 94
		stroke-dasharray: 188
		stroke-width: 78px
	&__body-3
		stroke-dashoffset: -150
		stroke-dasharray: 420
		stroke-width: 78px
		
// mouse
.mouse-svg
	width: 34px
	height: 40px
	fill: $orange
	transition: .6s cubic-bezier(0.46, 0, 0.07, 1)
	
.round-svg
	width: 84px
	height: 84px
	fill: none
	stroke: $orange
	stroke-width: 4px
	transition: .6s cubic-bezier(0.46, 0, 0.07, 1)
	+lg
		width: 70px
		height: 70px
	&[data-circle='25']
		stroke-dasharray: 233
		stroke-dashoffset: 34
		transform: rotate(-90deg)
		&:hover
			stroke-dasharray: 300
	&[data-circle='75']
		stroke-dasharray: 233
		stroke-dashoffset: 34
		&:hover
			stroke-dasharray: 300
			
.icon-arr-down
	transition: .6s cubic-bezier(0.46, 0, 0.07, 1)

/* ===================================
	 preloader
	 =================================== */
.preloader
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 1000
	background: $orange
	&__img
		animation: fadeIn 1.2s .4s ease forwards
		opacity: 0
		position: absolute
		width: 130px
		height: 130px
		top: 50%
		left: 50%
		margin: -65px 0 0 -65px
		z-index: 1000