// basic styles
body
  min-width: 320px
  +f('pf400', 23)
  background: $white
  color: $dark-gray
  &.is-locked
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 100%
    overflow: hidden

h1, h2, h3, h4, h5, h6, p, a, span, div, img, mark, ul, li
  &::selection
    color: $white
    background-color: $orange

+selection
  color: $white
  background-color: $orange

// layout
.out
  overflow: hidden
  height: 100vh

.container
  max-width: 1760px
  margin: 0 auto
  padding-top: 120px
  padding-left: 280px
  padding-right: 15px
  &_about
    padding-top: 80px
  &_portfolio
    padding-top: 170px
    padding-left: 365px
    padding-right: 60px
  &_order
    padding-top: 130px
    padding-left: 370px
    padding-right: 55px
  &_prices
    padding-top: 140px
    padding-left: 365px
    padding-right: 55px
    
// titles
.title-lg
  +f('pf700', 65)
  color: $dark-gray
  
.is-hidden
  +hide-el
  
.link
  display: inline-flex
  position: relative
  padding-bottom: 12px
  margin-left: 5px
  color: $orange
  +f('pf700')
  .no-touch &:hover::after
    left: 100%
  &::after
    position: absolute
    left: 0
    bottom: 0
    height: 3px
    right: 0
    background: currentColor
    transition: .4s ease
    +gpu
    content: ''

.btn
  padding: 0 30px
  height: 50px
  line-height: 50px
  border-radius: 30px
  color: $white
  +f('pf400')
  background: $orange
  font-size: 23px
  +trs
  .no-touch &:hover
    background: darken($orange, 12)
  
.input
  padding: 0 20px
  height: 50px
  line-height: 50px
  width: 100%
  +f('pf400')
  font-size: 23px
  border-radius: 30px!important
  border: 1px solid $dark-gray
  transition: .5s
  +placeholder-color($dark-gray)
  &:focus
    border-color: $orange