/* ===================================
	 fullscreen
	 =================================== */
.fullscreen
	position: relative
	//&__body
		+coverdiv
		//background: #000
	&__slider
		min-height: 100vh
		
		.slick-dots
			position: absolute
			left: 50%
			transform: translateX(-50%)
			bottom: 150px
			z-index: 20
			font-size: 0
			text-align: center
			&::after
				pointer-events: none
				position: absolute
				left: -10px
				right: -10px
				top: calc(50% - 4px)
				z-index: 1
				height: 3px
				background: $orange
				content: ''
			li
				display: inline-block
				vertical-align: middle
				margin: 0 20px
				&.slick-active button
					background: $orange
			button
				+hide-text
				width: 26px
				height: 26px
				border-radius: 50%
				background: $white
	&__item
		position: relative
		height: 100vh
		z-index: 100
		&.slick-current
			z-index: 101
	&__text
		max-width: 730px
		height: 510px
		position: relative
		margin-top: 195px
		padding: 60px 60px 165px 120px
		z-index: 110
		background: $orange
		cursor: default
		transition: transform 1s
		&.is-disabled
			transform: translateX(-100%)
		&-title
			//position: absolute
			//top: 0
			//left: 20px
			max-width: 480px
			margin-bottom: 35px
			+f('pf700', 53)
			color: $white
		&-descr
			color: $dark-gray
			&:not(:first-child)
				margin-top: 10px
	&__video
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 10
		+cover-video
		
.fullscreen-controls
	display: flex
	align-items: flex-start
	position: absolute
	left: 120px
	right: 140px
	bottom: 115px
	z-index: 10
	opacity: 0
	visibility: hidden
	transform: translateY(100%)
	transition: .2s 1s ease-in-out
	&.is-enabled
		opacity: 1
		visibility: visible
		transform: translateY(0)
	&__btn
		display: inline-flex
		align-items: center
		justify-content: center
		width: 84px
		height: 84px
		border: 3px solid $orange
		border-radius: 50%
		&:not(:first-child)
			margin-left: 20px
		&-exit
			margin-left: auto
			+f('pf700')
			color: $white
		&_prev .icon
			transform: rotate(180deg)
	.icon
		fill: $orange
		font-size: 36px
		
		
/* ===================================
	 fullpage custom styles
	 =================================== */

.fp-slide
	overflow: hidden

.header
	&.in-video + .fullpage-wrapper .fp-slidesNav
		transform: translateY(0)
		opacity: 1
		visibility: visible