.header
	position: fixed
	top: 10%
	transform: translateY(-10%)
	left: 0
	right: 0
	z-index: 2
	height: 100px
	transition: 1.5s ease
	&.is-inside
		&::after
			opacity: 1
		.round-svg, .mouse-svg
			pointer-events: none
			visibility: hidden
			opacity: 0
		.icon-arr-down
			bottom: 25%
		.nav__next-section
			bottom: -35%
	$parent: &
	&__container
		position: relative
		display: flex
		align-items: flex-start
		max-width: 1760px
		height: 100%
		margin: 0 auto
		padding: 0 15px
	&__logo
		transition: .5s ease
	&__contacts
		display: flex
		margin-left: auto
		padding-top: 56px
		padding-right: 46px
		&-item
			position: relative
			margin-right: 205px
		&-tel
			+f('pf700', 23)
			color: $dark-gray
			transition: .5s
			.no-touch &:hover
				color: $orange
			&:hover + #{$parent}__contacts-svg .svg-circle__outer
				stroke-dasharray: 450
				
		&-svg
			position: absolute
			top: calc(50% - 40px)
			right: -50px
	&.is-disabled
		transform: translateX(100%)
	&.in-video
		z-index: 1000
		.svg-circle__outer
			stroke: $white
		.socials__link .icon
			fill: $white
		.nav
			opacity: 0
			visibility: hidden
			pointer-events: none
			transform: translateX(-200%)
	&.in-video #{$parent}
		&__logo
			pointer-events: none
			visibility: hidden
			transform: translateX(-200%)
		&__contacts-tel
			color: $white
			.no-touch &:hover
				color: $orange
			
.nav
	position: absolute
	bottom: -490%
	left: 8px
	z-index: 1
	transition: .5s ease
	&__list
		$parent: &
		&-item
			&:not(:first-child)
				margin-top: 15px
			&.active #{$parent}-link
				color: $orange
			&.active #{$parent}-link::after,
			&.active #{$parent}-link::before
				height: 6em
				width: 6em
				visibility: visible
			&:not(.active) #{$parent}-link
				.no-touch &:hover::after,
				.no-touch &:hover::before
					visibility: visible
					width: 100%
					height: 100%
		&-link
			position: relative
			display: block
			padding: 15px 30px
			transition: .7s ease
			overflow: hidden
			&::after, &::before
				display: block
				content: ''
				height: 0
				width: 0
				visibility: hidden
				transition: .7s ease
			&::before
				border-bottom: 3px solid $orange
				border-left: 3px solid $orange
				position: absolute
				left: 0
				bottom: 0
			&::after
				border-top: 3px solid $orange
				border-right: 3px solid $orange
				position: absolute
				right: 0
				top: 0
				
	&__next-section
		position: absolute
		bottom: -50%
		left: 30px
		transition: 0.6s cubic-bezier(0.46, 0, 0.07, 1)
		font-size: 0
		&.is-transparent
			opacity: 0
			pointer-events: none
			visibility: hidden
		.icon-arr-down
			position: absolute
			bottom: -60px
			left: calc(50% - 20px)
			font-size: 40px
			fill: $orange
		.mouse-svg
			position: absolute
			top: calc(50% - 20px)
			left: calc(50% - 16px)
			pointer-events: none