/* ===================================
	 section
	 =================================== */
.section
	//&:not(:first-child)
		//padding-top: 40px
	&:last-child
		padding-bottom: 40px
	&__inner
		display: flex
		justify-content: space-between
		//padding-top: 120px
		+big
			align-items: center
		+sm
			flex-wrap: wrap
			justify-content: center
		&_screen
			+big
				align-items: initial
			+xs
				padding-top: 10px
		&_prices
			+big
				align-items: initial
			.section__title
				margin-bottom: 35px
	&__block
		&_left
			flex: 0 1 635px
			padding-right: 15px
			+xs
				padding-right: 0
		&_right
			flex: 0 1 615px
			padding-left: 15px
			+xs
				padding-left: 0
		&_prices-left
			flex: 0 1 440px
			padding-top: 30px
			margin-left: 60px
			+big
				flex: 0 1 340px
			+lg
				flex: 0 1 280px
				margin-top: 0
				margin-left: 120px
				padding-top: 0
			+md
				flex: 0 1 350px
				margin-top: 50px
				margin-left: 120px
			+sm
				flex: 0 1 260px
				margin-left: 0
				margin-top: 0
				min-height: 400px
		&_prices
			padding-top: 20px
			+lg
				padding-left: 115px
			+md
				padding-left: 110px
			+sm
				padding-left: 0
				padding-top: 30px
			+xs
				padding-top: 0
		&_contacts
			&-left
				flex: 0 1 715px
				padding-right: 15px
				padding-left: 60px
				padding-top: 100px
				+big
					padding-right: 85px
				+lg
					padding-left: 70px
					padding-top: 40px
				+md
					padding-top: 10px
					padding-left: 40px
					padding-right: 30px
				+sm
					padding: 20px 120px 0
					text-align: center
				+xs
					padding: 0
			&-right
				flex: 0 1 665px
				padding-top: 40px
				padding-left: 15px
				+sm
					padding-top: 20px
					padding-left: 0
		&_screen
			&-right
				margin-right: 35px
				margin-top: 60px
				+big
					margin-top: 0
					margin-right: 0
					padding-left: 50px
				+sm
					margin-top: 30px
					padding-left: 0
					text-align: center
			&-left
				+big
					padding-right: 75px
				+md
					padding-right: 40px
				+sm
					padding-right: 0
		&_order-left
			padding-right: 60px
			+md
				padding-right: 20px
			+sm
				padding: 0 80px 10px
			+xs
				padding: 0 20px 10px
	&__title
		margin-bottom: 55px
		+big
			margin-bottom: 35px
	&__descr
		max-width: 500px
		color: $gray
		+sm
			max-width: none
			text-align: center
	&__more
		display: flex
		align-items: center
		+sm
			justify-content: center
		&_has-list
			flex-direction: column
			align-items: flex-start
		&_portfolio
			margin-top: 25px
			+lg
				margin-top: 10px
			+xs
				margin-top: 20px
		&-text
			margin-right: 50px
			+f('pf700')
			color: $orange
			+xs
				margin-right: 20px
	&__list
		padding: 10px 0
		list-style-type: disc
		&-title
			+f('pf700')
		li
			color: $orange
			span
				color: $dark-gray
		&-wrap
			display: none
			font-size: 20px
			
/* circle-item
	----------------------------------- */
.circle-item
	position: relative
	width: calc(25% - 60px)
	flex: 0 0 calc(25% - 60px)
	height: 290px
	margin: 0 30px
	text-align: center
	+vertical
	$parent: &
	+big
		margin: 0 20px
		width: calc(25% - 40px)
		flex: 0 0 calc(25% - 40px)
	+lg
		height: 230px
	+md
		height: 180px
		margin: 0 10px
		width: calc(25% - 20px)
		flex: 0 0 calc(25% - 20px)
	+sm
		height: 280px
		margin: 0 40px 20px
		width: calc(50% - 80px)
		flex: 0 0 calc(50% - 80px)
	+xs
		height: 280px
		max-width: 300px
		margin: 0 auto 30px
		width: 100%
		flex: 100%
	&__text
		position: relative
		display: inline-block
		vertical-align: middle
		z-index: 2
	&__count
		+f('pf700', 65)
		color: $orange
		+lg
			font-size: 50px
		+xs
			font-size: 65px
	&__descr
		max-width: 150px
		margin: 0 auto
		color: $gray
		font-size: 23px
		+lg
			font-size: 20px
		+md
			font-size: 18px
		+xs
			font-size: 22px
	&__svg
		position: absolute
		top: 0
		left: 0
		stroke: $orange
		stroke-width: 3px
		fill: none
		g
			transform-origin: 50% 50%
			transition: transform .6s .3s ease
		line
			transform-origin: 50% 50%
			stroke: #000
			transition: transform .3s ease
		.line-3
			stroke: #f5f5f5
			stroke-dasharray: 200
			stroke-dashoffset: 0
			transition: 1.1s ease
			transform: scale(-1, -1)
			opacity: 1
	&:hover #{$parent}__svg .circle-1
		transform: rotate(135deg)
	&:hover #{$parent}__svg .circle-2
		transform: rotate(-45deg)
	&:hover #{$parent}__svg .line-1
		transform: translate(110%, -110%)
	&:hover #{$parent}__svg .line-2
		transform: translate(-110%, 110%)
	&:hover #{$parent}__svg .line-3
		stroke-dasharray: 0
		opacity: 0
	
/* portfolio-item
	----------------------------------- */
.portfolio-item
	position: relative
	flex: 1 1 33.33333%
	width: 33.33333%
	color: $white
	background: #eee
	cursor: default
	+sm
		flex: 1 1 50%
		width: 50%
	+xs
		flex: 1 1 100%
		width: 100%
	&__text
		position: absolute
		top: 40px
		left: 50px
		right: 50px
		bottom: 0
		z-index: 2
		+lg
			top: 20px
			left: 30px
			right: 30px
		+md
			top: 15px
			left: 15px
			right: 15px
	&__bg
		padding-top: 61.4%
		&::after
			+coverdiv
			background: rgba(#000, .4)
			content: ''
			z-index: 0
		&-img
			+coverdiv
			+cover
	&__title
		margin-bottom: 20px
		+f('pf700', 29)
		+lg
			font-size: 22px
		+md
			margin-bottom: 10px
			font-size: 20px
	&__descr
	&__link
		position: absolute
		bottom: 0
	&__play-btn
		+vcenter
		z-index: 5
		padding: 0
		.icon
			font-size: 80px
			fill: rgba(#fff, .4)
			transition: fill .5s ease-in-out
			+lg
				font-size: 68px
	.no-touch &:hover .icon-play-triangle
		fill: rgba(#fff, .8)

/* ===================================
	 screen-video
	 =================================== */
.screen-video
	position: relative
	width: 100%
	height: 100%
	&__inner
		position: relative
		overflow: hidden
		width: inherit
		height: inherit
	&__svg
		width: inherit
		height: inherit
		mask rect
			fill: $white
		> rect
			fill: $white
		circle
			stroke-width: 134px
			fill: none
			stroke: #000
		g
			fill-opacity: .5
			> rect
				fill: red
	&__btn
		display: none
	&__circle-lg
		stroke-dasharray: 738
		stroke-dashoffset: 740
	&__circle-sm
		stroke-dasharray: 336
		stroke-dashoffset: 0
	&__el
		position: absolute
		z-index: -1
		top: 0
		left: 0
		width: 100%
		height: 100%
		+cover-video
	&__controls
		position: absolute
		left: 0
		right: -7px
		bottom: 0
		z-index: 2
		text-align: right
		font-size: 0
		+sm
			padding-right: 100px
		+xs
			padding-right: 60px
			
		&-btn
			display: inline-block
			padding: 0
			&:not(:first-child)
				margin-left: 35px
				+lg
					margin-left: 20px
				+xs
					margin-left: 10px
		.icon
			fill: $orange
			font-size: 60px
			+lg
				font-size: 46px
			+xs
				font-size: 32px
	&__line
		position: absolute
		z-index: 3
		background: #000
		+xs
			display: none
		&_v
			width: 3px
			height: 394px
			top: -45.5%
			transform: translateY(50%)
			left: calc(50% - 2px)
			+big
				height: 318px
			+lg
				height: 259px
			+md
				height: 230px
				top: -45.2%
		&_h
			width: 394px
			top: calc(50% - 2px)
			left: 50%
			height: 3px
			+big
				width: 318px
			+lg
				width: 259px
			+md
				width: 230px

/* ===================================
	 contacts-block
	 =================================== */
.contacts-block
	margin-top: 60px
	margin-bottom: 90px
	+big
		margin-bottom: 40px
	+lg
		margin-top: 0
	+sm
		max-width: 420px
		margin: 0 auto
	&__item
		display: flex
		color: $gray
		&:not(:first-child)
			margin-top: 20px
			+sm
				margin-top: 5px
			+xs
				margin-top: 20px
		&-pic
			width: 30px
			text-align: center
			.icon
				fill: $orange
				font-size: 28px
				&-loc
					font-size: 29px
		&-link
			+f('pf700')
			&_font
				+f('pf300')
			+xs
				display: inline-block
				&:not(:first-child)
					margin-top: 5px
		&-text
			padding-left: 20px