extends ../extend/default

block variables
	- var title = 'JK Video';

block main
	main.content.js-fullpage(data-page='home')

		//begin screen
		+b.SECTION.section.fp-section(data-anchor='screen')
			.container
				+e.inner._screen
					+e.block._left._screen-left
						+b.screen-video
							+e.inner
								svg.screen-video__svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1920 1080', preserveaspectratio='xMidYMid slice')
									defs
										mask#screen-video__mask(x='0', y='0', width='100%', height='100%')
											rect(x='0', y='0', width='100%', height='100%')
											circle.screen-video__circle-sm(data-circle-type='tl' r='214', cx='50%', cy='50%')
											circle.screen-video__circle-lg(data-circle-type='tl' r='470', cx='50%', cy='50%')
									g
										rect(x='0', y='0', width='100%', height='100%')
									rect(mask='url(#screen-video__mask)' x='0', y='0', width='100%', height='100%')

								video.screen-video__el(preload='auto' loop)
									source(src='http://mazwai.com/system/posts/videos/000/000/110/original/alessio_balza--humans.mp4?1410742308', type='video/mp4')
									source(src='http://mazwai.com/system/posts/videos/000/000/110/original/alessio_balza--humans.mp4?1410742308', type='video/webm')

								+e.controls
									+e.BUTTON.controls-btn.js-play-video(type='button')
										+i('play-pause')
									+e.BUTTON.controls-btn.js-pause-video(type='button')
										+i('pause')
							.screen-video__line.screen-video__line_v
							.screen-video__line.screen-video__line_h

					+e.block._right._screen-right
						+e.H2.title.title-lg Мы - глаза Вашего праздника
						+e.P.descr От 10000 р. запечатлим все важные события Вашей жизни

						+b.SVG.circles._screen(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 472 154')
							circle.circles__body-1(data-circle-type='br' r='58', cx='0', cy='77')
							circle.circles__body-2(data-circle-type='tr-bl' r='58', cx='240', cy='77')
							circle.circles__body-3(data-circle-type='tl' r='58', cx='472', cy='77')
						+e.more
							+e.BUTTON.btn.link(data-popup-target='invitePopup' type='button') Задать вопрос

		//begin about
		+b.SECTION.section.fp-section(data-anchor='about')
			.container.container_about
				//begin tabs
				+b.c-tabs
					+e.tabs-for
						+e.tab
							+e.tab-in
								-
									circleList = [{
									count: '300',
									text: 'мероприятий'
									}, {
									count: '250',
									text: 'репортажей'
									}, {
									count: '50',
									text: 'рекламных видео'
									}, {
									count: '21',
									text: 'маркетинг'
									}];
								mixin circleItem(item)
									+b.circle-item
										+e.text
											+e.SPAN.count= item.count
											+e.P.descr= item.text

										svg.circle-item__svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 291.95 291.75')
											g.circle-1
												path(d='M247,245.47a142.92,142.92,0,0,0-.09-202.12l-.11-.11')
												path(d='M44.57,43.44a141.92,141.92,0,0,0,.09,200.71l.11.11')
											g.circle-2
												path(d='M66.52,65.34a111.94,111.94,0,0,1,158.31-.24l.08.08')
												path(d='M225.07,223.57a111.94,111.94,0,0,1-158.31.24l-.08-.08')
											line.line-1(x1='210.77', y1='81.19', x2='290.89', y2='1.06')
											line.line-2(x1='1.06', y1='290.69', x2='81.31', y2='210.44')
											line.line-3(x1='86.04', y1='205.94', x2='206.6', y2='85.37')

								each item in circleList
									+circleItem(item)

						+e.tab
							+e.tab-in
								-
									circleList = [{
									count: '300',
									text: 'мероприятий'
									}, {
									count: '250',
									text: 'репортажей'
									}, {
									count: '50',
									text: 'рекламных видео'
									}, {
									count: '21',
									text: 'маркетинг'
									}];
								mixin circleItem(item)
									+b.circle-item
										+e.text
											+e.SPAN.count= item.count
											+e.P.descr= item.text

										svg.circle-item__svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 291.95 291.75')
											g.circle-1
												path(d='M247,245.47a142.92,142.92,0,0,0-.09-202.12l-.11-.11')
												path(d='M44.57,43.44a141.92,141.92,0,0,0,.09,200.71l.11.11')
											g.circle-2
												path(d='M66.52,65.34a111.94,111.94,0,0,1,158.31-.24l.08.08')
												path(d='M225.07,223.57a111.94,111.94,0,0,1-158.31.24l-.08-.08')
											line.line-1(x1='210.77', y1='81.19', x2='290.89', y2='1.06')
											line.line-2(x1='1.06', y1='290.69', x2='81.31', y2='210.44')
											line.line-3(x1='86.04', y1='205.94', x2='206.6', y2='85.37')

								each item in circleList
									+circleItem(item)

						+e.tab
							+e.tab-in
								-
									circleList = [{
									count: '300',
									text: 'мероприятий'
									}, {
									count: '250',
									text: 'репортажей'
									}, {
									count: '50',
									text: 'рекламных видео'
									}, {
									count: '21',
									text: 'маркетинг'
									}];
								mixin circleItem(item)
									+b.circle-item
										+e.text
											+e.SPAN.count= item.count
											+e.P.descr= item.text

										svg.circle-item__svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 291.95 291.75')
											g.circle-1
												path(d='M247,245.47a142.92,142.92,0,0,0-.09-202.12l-.11-.11')
												path(d='M44.57,43.44a141.92,141.92,0,0,0,.09,200.71l.11.11')
											g.circle-2
												path(d='M66.52,65.34a111.94,111.94,0,0,1,158.31-.24l.08.08')
												path(d='M225.07,223.57a111.94,111.94,0,0,1-158.31.24l-.08-.08')
											line.line-1(x1='210.77', y1='81.19', x2='290.89', y2='1.06')
											line.line-2(x1='1.06', y1='290.69', x2='81.31', y2='210.44')
											line.line-3(x1='86.04', y1='205.94', x2='206.6', y2='85.37')

								each item in circleList
									+circleItem(item)

						+e.tab
							+e.tab-in
								-
									circleList = [{
									count: '300',
									text: 'мероприятий'
									}, {
									count: '250',
									text: 'репортажей'
									}, {
									count: '50',
									text: 'рекламных видео'
									}, {
									count: '21',
									text: 'маркетинг'
									}];
								mixin circleItem(item)
									+b.circle-item
										+e.text
											+e.SPAN.count= item.count
											+e.P.descr= item.text

										svg.circle-item__svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 291.95 291.75')
											g.circle-1
												path(d='M247,245.47a142.92,142.92,0,0,0-.09-202.12l-.11-.11')
												path(d='M44.57,43.44a141.92,141.92,0,0,0,.09,200.71l.11.11')
											g.circle-2
												path(d='M66.52,65.34a111.94,111.94,0,0,1,158.31-.24l.08.08')
												path(d='M225.07,223.57a111.94,111.94,0,0,1-158.31.24l-.08-.08')
											line.line-1(x1='210.77', y1='81.19', x2='290.89', y2='1.06')
											line.line-2(x1='1.06', y1='290.69', x2='81.31', y2='210.44')
											line.line-3(x1='86.04', y1='205.94', x2='206.6', y2='85.37')

								each item in circleList
									+circleItem(item)

						+e.tab
							+e.tab-in
								-
									circleList = [{
									count: '300',
									text: 'мероприятий'
									}, {
									count: '250',
									text: 'репортажей'
									}, {
									count: '50',
									text: 'рекламных видео'
									}, {
									count: '21',
									text: 'маркетинг'
									}];
								mixin circleItem(item)
									+b.circle-item
										+e.text
											+e.SPAN.count= item.count
											+e.P.descr= item.text

										svg.circle-item__svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 291.95 291.75')
											g.circle-1
												path(d='M247,245.47a142.92,142.92,0,0,0-.09-202.12l-.11-.11')
												path(d='M44.57,43.44a141.92,141.92,0,0,0,.09,200.71l.11.11')
											g.circle-2
												path(d='M66.52,65.34a111.94,111.94,0,0,1,158.31-.24l.08.08')
												path(d='M225.07,223.57a111.94,111.94,0,0,1-158.31.24l-.08-.08')
											line.line-1(x1='210.77', y1='81.19', x2='290.89', y2='1.06')
											line.line-2(x1='1.06', y1='290.69', x2='81.31', y2='210.44')
											line.line-3(x1='86.04', y1='205.94', x2='206.6', y2='85.37')

								each item in circleList
									+circleItem(item)

					+e.tabs-nav
						-tabsNavList = ['События', 'Креатив', 'Видео', 'PR', 'Маркетинг']
						for tabsNavItem, index in tabsNavList
							-activeIndex = 1
							+e.tabs-el(class= index === activeIndex - 1 ? 'is-active' : '')= tabsNavItem

				+b.SVG.circles._absolute(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 472 154')
					circle.circles__body-1(data-circle-type='tr' r='58', cx='0', cy='76')
					circle.circles__body-2(data-circle-type='tl-br' r='58', cx='240', cy='77')
					circle.circles__body-3(data-circle-type='bl' r='58', cx='472', cy='77')

		include ../components/portfolio

		//begin order
		+b.SECTION.section.fp-section(data-anchor='order')
			.container.container_order
				+e.inner
					+e.block._left._order-left
						+b.SVG.circles-big(viewBox='0 0 640 620')
							circle.circles-big__body-1.js-anim-svg-2(data-circle-type='tl' r='235', cx='50%', cy='50%')
							circle.circles-big__body-2.js-anim-svg-2(data-circle-type='tl' r='235', cx='-0.5%', cy='50%')
					+e.block._right
						+e.H2.title.title-lg Хотите пригласить нашу команду на Ваш праздник?
						+e.P.descr От 10000 р. запечатлим все важные события Вашей жизни
						+b.SVG.circles._order(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 472 154')
							circle.circles__body-1(data-circle-type='br' r='58', cx='0', cy='77')
							circle.circles__body-2(data-circle-type='tr-bl' r='58', cx='240', cy='77')
							circle.circles__body-3(data-circle-type='tl' r='58', cx='472', cy='77')

						+e.more
							+e.BUTTON.btn.link(data-popup-target='invitePopup' type='button') Пригласить

		//begin prices
		+b.SECTION.section.fp-section(data-anchor='prices')
			.container.container_prices
				+e.inner._prices
					+e.block._prices-left
						+b.circles-triple
							+b.SVG.circles-triple__svg-1.js-anim-svg(viewBox='0 0 436 615')
								circle.circles-triple__body-1(data-circle-type='tl' r='255', cx='50%', cy='-19%')
							+b.SVG.circles-triple__svg-2.js-anim-svg(viewBox='0 0 436 615')
								circle.circles-triple__body-2(data-circle-type='tl' r='120', cx='50%', cy='50%')
							+b.SVG.circles-triple__svg-3.js-anim-svg(viewBox='0 0 436 615')
								circle.circles-triple__body-3(data-circle-type='tl' r='255', cx='50%', cy='119.6%')
					+e.block._right._prices
						+e.H2.title.title-lg Что по цене?
						+e.P.descr От 10000 р. запечатлим все важные события Вашей жизни
						+b.SVG.circles._prices(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 472 154')
							circle.circles__body-1(data-circle-type='r' r='58', cx='0', cy='77')
							circle.circles__body-2(data-circle-type='tr-bl' r='58', cx='240', cy='77')
							circle.circles__body-3(data-circle-type='l' r='58', cx='472', cy='77')

						+e.more._has-list
							+e.list-wrap
								+e.list-title Стартовая цена от 10 000₽ и в бесконечность.
								+e.list-title Стоимость создания видеоконтента зависит и формируется из:
								+e.UL.list
									+e.LI
										+e.SPAN Хронометража
									+e.LI
										+e.SPAN Сложности работы с объектом, персонажем и фоном
									+e.LI
										+e.SPAN Наличием озвучки и музыкальной подложки
									+e.LI
										+e.SPAN Количества часов работы и количества операторов
									+e.LI
										+e.SPAN Наличием графики в проекте
									+e.LI
										+e.SPAN Написания сценария, раскадровки и режиссуры проекта
									+e.LI
										+e.SPAN Сложности и типа съемки

							+e.BUTTON.btn.link.js-toggling-btn(type='button' data-default-text='Узнать' data-change-text='Скрыть') Узнать

		//begin contacts
		+b.SECTION.section.fp-section(data-anchor='contacts')
			.container
				+e.inner
					+e.block._contacts-left
						+e.IMG(src='static/img/map.png' alt='image')
					+e.block._contacts-right
						+e.H2.title.title-lg Контакты
						+b.contacts-block
							+e.item
								+e.item-pic
									+i('loc')
								+e.P.item-text Россия, Самара, ул. Московское шоссе, 17
							+e.item
								+e.item-pic
									+i('tel')
								+e.item-text
									+e.A.item-link(href='#!') +7 (927) 001-20-08
									| ,
									= ' '
									+e.A.item-link(href='#!') +7 (846) 379-53-68
							+e.item
								+e.item-pic
									+i('mail')
								+e.item-text
									+e.A.item-link._font(href='mailto:hello@jk-event.ru') hello@jk-event.ru

						+b.SVG.circles._contacts(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 472 154')
							circle.circles__body-1(data-circle-type='tl' r='58', cx='0', cy='77')
							circle.circles__body-2(data-circle-type='tr-bl' r='58', cx='240', cy='77')
							circle.circles__body-3(data-circle-type='bl' r='58', cx='472', cy='77')

						+e.more
							+e.P.more-text Мы в соцсетях
							//-socials
							-socialsClass = '_gray'
							include ../components/socials

	include ../components/popups
	block popups
		+popup({name: 'invite'})